# Ignore node_modules for both apps
mobile-app/node_modules/
web-app/node_modules/

# Optional: Ignore build artifacts
web-app/build/
mobile-app/build/

# Ignore logs
*.log
node_modules

# Ignore .env files
.env

# Ignore .DS_Store
.DS_Store

# Ignore .vscode
.vscode

# Ignore .idea
.idea

# Ignore photos
*.jpg *.jpeg *.png *.gif

# Ignore .csv files
*.csv




