# Ignore node_modules for both apps
mobile-app/node_modules/
web-app/node_modules/

# Optional: Ignore build artifacts
web-app/build/
mobile-app/build/

# Ignore logs
*.log
shared/backend/frozen_east_text_detection.pb
shared/backend/myenv/
myenv/
shared/backend/frozen_east_text_detection.pb
shared/backend/myenv/
